<div class= "page-header">
  <div class="pull-right">
  <%= link_to 'New location', new_location_path, class: 'btn btn-info' %>
</div>
  <h1>Locations</h1>
</div>



<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Zip Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %> </td>
        <td><%= location.address %></td>
        <td><%= location.zip_code %></td>
        <td class="text-right">
          <%= link_to 'delete', location, method: :delete %>
          <%= link_to 'edit', edit_location_path(location) %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
