<div class="page-header">
  <h1><%= @location.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Address</dt>
  <dd><%= @location.address %></dd>
  <dt>Zip Code</dt>
  <dd><%= @location.zip_code %></dd>

</dl>

<p><h3>events</h3>


<table class="table table-striped table-hover">
  <tr>
    <th> Description </th>
    <th> Date </th>
    <th> Requires ID? </th>
  </tr>

  <tbody>
    <% @location.events.each do |event| %>
        <tr>
        <td><%= link_to event.description, location_event_path(@location, event) %></td>
        <td><%= event.date %></td>
        <td><%= event.requires_id %></td>
        <td class='text-right'>
          <%= link_to 'edit', edit_location_event_path(@location, event), class: 'btn btn-info' %>
          <%= link_to 'delete', location_event_path(@location, event), method: :delete, class: 'btn btn-danger' %>
        </td>
      </tr>
      <% end %>

      </tbody>
</table>

<br>


<br>
<%= link_to 'create new event', new_location_event_path(@location), class: 'btn btn-info' %>

<%= link_to 'back', locations_path, class: 'btn btn-default' %>
